@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #40d7c3;
  --primary-color-variation-1: #3bc0ae;
  --primary-color-variation-2: #1edfc5;
  --patient-page-color: #b300c7;
}
